{% extends "base.html" %} 

{% block titulo %} Agregar nuevo libro {% endblock %}

{% block contenido %}


    <body>
        <div class="d-flex justify-content-center align-items-center h-100" >
            <div class="rounded-right" style="background-color: hsl(0, 94%, 26%);">
            
                <p style="color:rgba(255, 255, 255, 0.993) ;">
                    CREAR LIBRO: 
                  </p>
            </div>
        
                
          
            <div class="card-body">
                <h4 class="card-title">Datos de libro</h4>
              {% include 'libros/form.html' %}
            </div>
            <div class="card-footer text-muted">
                
            </div>
        </div>
    </body>



{% endblock %}    