<form  enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {{error}}
  
  {%if user.is_authenticated and user.is_superuser %}
    <div class="mb-3" >
      
      <div class="mb-3">
        <input type="text" name="titulo" placeholder="Titulo" class="form-control" Required  >
        <input type="text" name="descripcion" placeholder="Descripcion" class="form-control" Required >
        <input type="number" name="cantidad" placeholder="Cantidad" class="form-control" Required >
        <input type="file" name="imagen" placeholder="Cantidad" class="form-control" >
        <select name="genero_libro" class="form-control">
          {% for campo in genero %}
          <option value="{{campo.id}}">{{campo.genero}}</option>
          {% endfor %}
        </select>
        
      </div>
      {%endif%}
  
  <input name="" id="" class="btn btn-warning" type="submit" value="Enviar informacIon">
</form>