{% extends "base.html" %} 

{% block titulo %} Lista de libros {% endblock %}

{% block contenido %}


<div class="card">
    <div class="card-header" style="background-color: hsl(0, 0%, 49%);"
    >
        <a name="" id="" class="btn btn-warning" href="{% url 'crear' %}" role="button">Agregar nuevo libro</a>
    </div>
    <div class="card-body" style="background-color: hsl(0, 1%, 35%);">
    
          <div class="text-white text-center">
            <h1 class="mb-3">LIBROS</h1>
          </div>
          
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Ejemplares diponibles</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for libro in libros %}
                    
                    <tr class="">
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.titulo }}</td>

                        <td>
                        <img src="{{ libro.imagen }}" height="100px" width="100px" />
                        
                    </td>
                        
                        <td>{{ libro.descripcion }}</td>
                        <td>{{ libro.cantidad }}</td>
                        <td>{{ libro.disponible}}</td>
                        <td>
                            {%if user.is_authenticated and user.is_superuser %}
                            <a name="" id="" class="btn-info" href="{% url 'editar' %}" role="button">Editar</a> | 
                            <a name="" id="" class="btn-danger" href="{% url 'delete' libro.id %}" role="button">Borrar</a>
                            |<a name="" id="" class="btn-info" href="{% url 'prestamo' libro.id %}" role="button">Prestar</a> 
                            {%endif%}     
                        </tr>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    </div>

</div>

{% endblock %}   