{% extends "base.html" %} 

{% block titulo %} Lista de libros {% endblock %}

{% block contenido %}

<div class="card">
    {%if user.is_authenticated and user.is_superuser %}
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar nuevo libro</a>
    </div>
    {%endif%}
    <div class="card-body">
        <h4 class="card-title">Libros</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Ejemplares diponibles</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for libro in libros %}
                    
                    <tr class="">
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.titulo }}</td>

                        <td>
                        <img src="{{ libro.imagen }}" height="100px" width="100px" />
                        
                    </td>
                        
                        <td>{{ libro.descripcion }}</td>
                        <td>{{ libro.cantidad }}</td>
                        <td>{{ libro.genero_libro}}</td>
                        <td>{{ libro.disponible}}</td>
                        
                        <td>
                            {%if user.is_authenticated and user.is_superuser %}
                            <a name="" id="" class="btn-info" href="{% url 'editar' %}" role="button">Editar</a> | 
                            <a name="" id="" class="btn-danger" href="{% url 'delete' libro.id %}" role="button">Borrar</a>
                            {%endif%}
                          {%if user.is_authenticated  %}  
                          |<a name="" id="" class="btn-info" href="{% url 'prestamo' libro.id %}" role="button">Prestar</a> 
                          {%endif%}    
                        </td>
                          
                             
                        </tr>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>

{% endblock %}   